doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Mitchell Barnes Photography

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') Home
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#gallery') Gallery
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#prints') Prints
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#book') Book a Shoot
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Contact

        // Masthead
        header.masthead
            .container.d-flex.h-100.align-items-center
                .mx-auto.text-center
                    h1.mx-auto.my-0 Mitchell Barnes
                    h1.mx-auto.my-5 photography
                    h2.text-white-50.mx-auto.mt-2 Passionate
                    h2.text-white-50.mx-auto.mt-2 professional
                    h2.text-white-50.mx-auto.mt-2 photographer
                    h2.text-white-50.mx-auto.mt-2 for hire

        section#gallery.about-section.text-center
            .container
                .row
                    //environmental
                    .col-lg-12.mx-auto
                        div#carouselExampleIndicators.carousel.slide
                            ol.carousel-indicators
                                li.active(data-target="#carouselExampleIndicators" data-slide-to="0" )
                                li(data-target="#carouselExampleIndicators" data-slide-to="0" )
                                li(data-target="#carouselExampleIndicators" data-slide-to="0" )
                                li(data-target="#carouselExampleIndicators" data-slide-to="0" )
                                li(data-target="#carouselExampleIndicators" data-slide-to="0" )
                                li(data-target="#carouselExampleIndicators" data-slide-to="0" )
                            .carousel-inner
                                .carousel-item.active
                                    img.d-block.w-100(src='assets/img/IMG_6206_1.jpg', alt='Second slide')
                                .carousel-item
                                    img.d-block.w-100(src='assets/img/IMG_4727.jpg', alt='Second slide')
                                .carousel-item
                                    img.d-block.w-100(src='assets/img/IMG_5017.jpg', alt='First slide')
                                .carousel-item
                                    img.d-block.w-100(src='assets/img/AfterlightImage.jpg', alt='First slide')
                                .carousel-item
                                    img.d-block.w-100(src='assets/img/DSC08596.jpg', alt='Second slide')
                                .carousel-item
                                    img.d-block.w-100(src='assets/img/DSC08563.jpg', alt='Second slide')
                            a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.sr-only Previous
                            a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.sr-only Next
                    //portrait
                    .col-lg-12.mx-auto
                        div#carouselExampleIndicators.carousel.slide
                            ol.carousel-indicators
                                li.active(data-target="#carouselExampleIndicators" data-slide-to="0" )
                                li(data-target="#carouselExampleIndicators" data-slide-to="0" )
                                li(data-target="#carouselExampleIndicators" data-slide-to="0" )
                                li(data-target="#carouselExampleIndicators" data-slide-to="0" )
                                li(data-target="#carouselExampleIndicators" data-slide-to="0" )
                            .carousel-inner
                                .carousel-item.active
                                    img.d-block.w-100(src='assets/img/DSC00348.jpg', alt='Second slide')
                                .carousel-item
                                    img.d-block.w-100(src='assets/img/stickbug-05.jpg', alt='Second slide')
                                .carousel-item
                                    img.d-block.w-100(src='assets/img/stickbug-14.jpg', alt='First slide')
                                .carousel-item
                                    img.d-block.w-100(src='assets/img/DSC09761.jpg', alt='First slide')
                                .carousel-item
                                    img.d-block.w-100(src='assets/img/DSC09905.jpg', alt='Second slide')
                            a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.sr-only Previous
                            a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.sr-only Next
                    //macro
                    .col-lg-12.mx-auto
                        div#carouselExampleIndicators.carousel.slide
                            ol.carousel-indicators
                                li.active(data-target="#carouselExampleIndicators" data-slide-to="0" )
                            .carousel-inner
                                .carousel-item.active
                                    img.d-block.w-100(src='assets/img/DSC06164.jpg', alt='Second slide')
                            a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.sr-only Previous
                            a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.sr-only Next
        // Projects
        section#prints.projects-section.bg-light
            .container
                // Featured Project Row
                .row.align-items-center.no-gutters.mb-4.mb-lg-5
                    .col-xl-8.col-lg-7
                        img.img-fluid.mb-3.mb-lg-0(src='assets/img/bg-masthead.jpg', alt='')
                    .col-xl-4.col-lg-5
                        .featured-text.text-center.text-lg-left
                            h4 Photo 1
                            p.text-black-50.mb-0
                                | Something about this photo...
                // Project One Row
                .row.justify-content-center.no-gutters.mb-5.mb-lg-0
                    .col-lg-6
                        img.img-fluid(src='assets/img/demo-image-01.jpg', alt='')
                    .col-lg-6
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-left
                                    h4.text-white Misty
                                    p.mb-0.text-white-50
                                        | An example of where you can put an image of a project, or anything else, along with a description.
                                    hr.d-none.d-lg-block.mb-0.ml-0
                // Project Two Row
                .row.justify-content-center.no-gutters
                    .col-lg-6
                        img.img-fluid(src='assets/img/demo-image-02.jpg', alt='')
                    .col-lg-6.order-lg-first
                        .bg-black.text-center.h-100.project
                            .d-flex.h-100
                                .project-text.w-100.my-auto.text-center.text-lg-right
                                    h4.text-white Mountains
                                    p.mb-0.text-white-50
                                        | Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!
                                    hr.d-none.d-lg-block.mb-0.mr-0

        // Signup
        section#book.signup-section
            .container
                .row
                    .col-md-10.col-lg-8.mx-auto.text-center
                        i.far.fa-paper-plane.fa-2x.mb-2.text-white
                        h2.text-white.mb-5 Book your photoshoot now!
                        form.form-inline.d-flex
                            input#inputEmail.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email', placeholder='Enter email address...')
                            button.btn.btn-primary.mx-auto(type='submit') Send

        // Contact
        section#contact.contact-section.bg-black
            .container
                .row
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-map-marked-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Address
                                hr.my-4
                                .small.text-black-50 448 Somerset Drive Golden CO 80401
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-envelope.text-primary.mb-2
                                h4.text-uppercase.m-0 Email
                                hr.my-4
                                .small.text-black-50
                                    a(href='#!') mitchllrbarnes@gmail.com
                    .col-md-4.mb-3.mb-md-0
                        .card.py-4.h-100
                            .card-body.text-center
                                i.fas.fa-mobile-alt.text-primary.mb-2
                                h4.text-uppercase.m-0 Phone
                                hr.my-4
                                .small.text-black-50 720-378-1505
                .social.d-flex.justify-content-center
                    a.mx-2(href='https://www.instagram.com/abeatingchest/')
                        i.fab.fa-instagram
                    a.mx-2(href='https://www.facebook.com/mitchell.barnes.54')
                        i.fab.fa-facebook-f
                    a.mx-2(href='mailto:mitchllrbarnes@gmail.com')
                        i.fa.fa-envelope

        // Footer
        footer.footer.bg-black.small.text-center.text-white-50
            .container
                | Mitchell Barnes 2020

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
